<section class="lexicon-preview-modals row">
	<div class="col-md-12">
		<h4>Modal</h4>

		<div class="visible-xs"><div class="alert alert-info">You are seeing the mobile modal view, expand to see desktop view.</div></div>

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#times" />
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#check" />
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Small modal</h4>

		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#times" />
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#check" />
						</svg>
					</button>

					<h4 class="modal-title" id="lexSmallModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4>Modal Body</h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Large modal</h4>

		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#times" />
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#check" />
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Inverse modal</h4>

		<div class="modal-dialog modal-inverse modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#times" />
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<use xlink:href="<%= iconSpritePath %>#check" />
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>