<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<section class="row">
				<div class="col-xs-6">
					<h4>Default</h4>

					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>

				<div class="col-xs-6">
					<h4>Square</h4>

					<div class="figure figure-square">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>
			</section>

			<section class="row">
				<div class="col-xs-6">
					<h4>Circle</h4>

					<div class="figure figure-circle">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-full">
							<div class="flex-container" style="height: 100%;">
								<div class="flex-item-center">
									Carajillo strong, grounds redeye half and half so percolator.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<h4>Rounded</h4>

					<div class="figure figure-rounded">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-full">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>
			</section>

			<section class="row">
				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom figcaption-primary">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>
			</section>

			<section class="row">
				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom figcaption-info">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom figcaption-success">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>
			</section>

			<section class="row">
				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom figcaption-warning">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="figure">
						<img class="img-responsive" src="<%= lexiconImagesPath %>/thumbnail_coffee.jpg" style="width: 100%;">

						<div class="figcaption-bottom figcaption-danger">Carajillo strong, grounds redeye half and half so percolator.</div>
					</div>
				</div>
			</section>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>