<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>Lexicon icons</h4>
		</div>

		<%
			[
				'add-cell',
				'blogs',
				'bookmarks',
				'calendar',
				'camera',
				'caret-bottom',
				'categories',
				'chain-broken',
				'change',
				'check',
				'cog',
				'control-panel',
				'documents-and-media',
				'download',
				'embed',
				'exclamation-full',
				'expand',
				'folder',
				'geolocation',
				'heart',
				'hidden',
				'home',
				'horizontal-scroll',
				'indent-less',
				'info-circle',
				'link',
				'live',
				'lock',
				'logout',
				'moon',
				'move',
				'myspace',
				'star',
				'sun',
				'superscript',
				'thumbs-down',
				'twitter',
				'user'
			].forEach(function(iconName, index) {
		%>
			<div class="col-xs-12">
				<h5><%= iconName %></h5>

				<svg class="lexicon-icon lexicon-icon-lg">
					<use xlink:href="<%= iconSpritePath %>#<%= iconName %>" />
				</svg>

				<svg class="lexicon-icon lexicon-icon-md">
					<use xlink:href="<%= iconSpritePath %>#<%= iconName %>" />
				</svg>

				<svg class="lexicon-icon">
					<use xlink:href="<%= iconSpritePath %>#<%= iconName %>" />
				</svg>

				<svg class="lexicon-icon lexicon-icon-sm">
					<use xlink:href="<%= iconSpritePath %>#<%= iconName %>" />
				</svg>

				<svg class="lexicon-icon icon-monospaced">
					<use xlink:href="<%= iconSpritePath %>#<%= iconName %>" />
				</svg>
			</div>
		<% }) %>
	</section>
<%- include("../partials/footer.ejs") %>