<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>With text</h4>

			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default"><span>JB</span></div>

					<p>user-icon-default</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-primary"><span>SP</span></div>

					<p>user-icon-primary</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-success"><span>TT</span></div>

					<p>user-icon-success</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-info"><span>WW</span></div>

					<p>user-icon-info</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-warning"><span>JB</span></div>

					<p>user-icon-warning</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-danger"><span>JB</span></div>

					<p>user-icon-danger</p>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<h4>Helper classes</h4>

			<div class="row">
				<div class="col-xs-4">
					<div class="user-icon user-icon-circle">
						<img alt="thumbnail" class="img-responsive" src="<%= imagesPath %>/thumbnail_placeholder.gif">
					</div>

					<p>user-icon-circle</p>
				</div>

				<div class="col-xs-4">
					<div class="user-icon user-icon-rounded">
						<img alt="thumbnail" class="img-responsive" src="<%= imagesPath %>/thumbnail_placeholder.gif">
					</div>

					<p>user-icon-rounded</p>
				</div>

				<div class="col-xs-4">
					<div class="user-icon user-icon-square">
						<img alt="thumbnail" class="img-responsive" src="<%= imagesPath %>/thumbnail_placeholder.gif">
					</div>

					<p>user-icon-square</p>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<h4>Sizes</h4>

			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default user-icon-xs"><span>JB</span></div>

					<p>user-icon-xs</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default user-icon-sm"><span>SP</span></div>

					<p>user-icon-sm</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default"><span>TT</span></div>

					<p>user-icon</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default user-icon-lg"><span>TT</span></div>

					<p>user-icon-lg</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default user-icon-xl"><span>TT</span></div>

					<p>user-icon-xl</p>
				</div>

				<div class="col-md-2 col-xs-4">
					<div class="user-icon user-icon-default user-icon-xxl"><span>TT</span></div>

					<p>user-icon-xxl</p>
				</div>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>